@import '~bootstrap/scss/bootstrap';

body {
  font-family: 'Titillium Web', sans-serif;
  text-align: center;
}

h6 {
  font-style: italic;
  margin-bottom: 15px;
  margin-top: 15px;
}

img {
  height: 50px;
  width: 50px;
}

input {
  width: 400px;
}

.back-link {
  margin: 10px;
}

.btn-danger {
  background-color: #fff;
  border: 2px solid #ff1a1a;
  color: #ff1a1a;
}

.btn-danger:hover {
  background-color: #ff1a1a;
  border: 2px solid #fff;
  color: #fff;
  margin: 10px;
}

.btn-primary {
  background-color: #fff;
  border: 2px solid #8c8c8c;
  color: #8c8c8c;
}

.btn-primary:active {
  background-color: #8c8c8c;
  border: 2px solid #fff;
  color: #fff;
}

.btn-primary:hover {
  background-color: #8c8c8c;
  border: 2px solid #fff;
  color: #fff;
}

.edit-button {
  margin: 10px;
}

.form-label {
  font-size: 20px;
}

.heading {
  font-family: 'Exo', sans-serif;
}

.my-prompts {
  color: #0000CC;
}

.nav {
  background-color: #c68c53;
}

.prompt-button {
  margin-bottom: 15px;
}

.submit-button {
  margin: 10px;
}
